.tutor {
  background-color: #0f0f0f;
  height: 90vh;
}

.tutor-content {
  width: 45vw;
}

.tutor-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  transform: translateX(-50%);
  width: 12%;
  height: 2px;
  background-color: #ffaa00;
}

@media screen and (min-width: 1001px) and (max-width: 1399px) {
  .tutor {
    height: 100vh;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .tutor {
    height: 70vh;
  }
}

@media screen and (min-width: 1801px) and (max-width: 2000px) {
  .tutor {
    height: 50vh;
  }
}
