.about {
  background-color: #0f0f0f;
}

.about-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 14%;
  height: 2px;
  background-color: #ffaa00;
}
