.photos {
  background-color: #0f0f0f;
}

.swiper-slide-photos img {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.swiper-slide-photos img.active {
  opacity: 1;
  transform: scale(1);
}

.swiper-slide-photos img:not(.active) {
  opacity: 0.5;
  transform: scale(0.8);
}

.swiper-slide-photos-prev img,
.swiper-slide-photos-next img {
  transform: scale(0.8);
}
